<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/ok.css">
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
</head>
<body>
	<div class="first">	
		<header>
			<div class="top">
				<h3>房子钰<span>先生</span><i>13025444488</i></h3>
				<p>建国街爱丁堡中商会2楼</p>
				<a href="javascript:;"><img src="images/right.png" alt=""></a>
			</div>
			<div class="bottom">
				<p>送达时间</p>
				<a href="javascript:;">立即送出<img src="images/right.png" alt=""></a>
			</div>
		</header>
		<div class="Payment">
			<p>支付方式</p>
			<a href="javascript:;">
				在线支付
				<img src="images/right.png" alt="">
			</a>
		</div>	
		<div class="Order">
			<h3>艾克奇汉堡</h3>
			<table>
				<tr>
					<td>蛋挞</tt>
					<td>x1</tt>
					<td class="money">$3</tt>
				</tr>
				<tr>
					<td>香辣鸡翅</tt>
					<td>x1</tt>
					<td class="money">$6</tt>
				</tr>
				<tr>
					<td>经典2号套餐</tt>
					<td>x1</tt>
					<td class="money">$17</tt>
				</tr>
			</table>
		</div>	
		<div class="Distribution">
			<ul>
				<li>
					<h3>配送费</h3>
					<span>￥0</span>
				</li>
				<li>			
					<p><i>减</i>满减优惠</p>
					<span>-￥2</span>
				</li>
				<li>
					<h4>总计￥26</h4>
					<h4>优惠￥2</h4>
					<h5>实付<i>￥24</i></h5>
				</li>
			</ul>
		</div>
		<div class="Remarks">
			<ul>
				<li>
					<h3>用餐人数</h3>
					<a href="javascript:;">
						以便商家给您代购餐具
						<img src="images/right.png" alt="">
					</a>
				</li>
				<li>
					<h3>备注</h3>
					<a href="javascript:;" class="open_remark">
						口味，编好等要求
						<img src="images/right.png" alt="">
					</a>
					<div class="clean"></div>
					<p class="remark">
						<textarea></textarea>
					</p>
				</li>
			</ul>
		</div>
		<div class="footer">		
			<div>
				<h3>以满减￥2</h3>
				<p>待支付<span>￥24</span></p>		
			</div>
			<button>去结算</button>
		</div>
	</div>
	<div class="second">
		<div class="s_top">
			<div class="close" id="close1">&times;</div>
			<div>选择收货地址</div>
			<div class="add_add">新增地址</div>
		</div>
		<div class="s_search">
			<input type="text" placeholder='请输入地址'>
		</div>
		<div class="s_add">
			<h3>收货地址</h3>
			<ul>
				<li>
					<h4>吴超&nbsp;先生&nbsp;18245671234</h4>
					<p>具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息</p>
				</li>
				<li>
					<h4>吴超&nbsp;先生&nbsp;18245671234</h4>
					<p>具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息</p>
				</li>
				<li>
					<h4>吴超&nbsp;先生&nbsp;18245671234</h4>
					<p>具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息具体地址信息</p>
				</li>
			</ul>
		</div>
	</div>	
	<div class="third">
		<div class="s_top">
			<div class="close" id="close2">&times;</div>
			<div>新增地址</div>
			<div></div>
		</div>
		<div class="t_con">
			<ul>
				<li><span>联系人</span><input type="text" placeholder="收货人姓名"></li>
				<li><span></span><label class="label1"><input type='radio' name="radio"><img src="images/radio_uncheck.png">先生</label><label  class="label2"><input type='radio' name="radio"><img src="images/radio_uncheck.png">女士</label></li>
				<li><span>联系电话</span><input type="text" placeholder="收货人电话"></li>
				<li><span>收货地址</span><input type="text" placeholder="小区/写字楼/学校等"></li>
				<li><span>详细地址</span><textarea placeholder="详细地址（如门牌号等）"></textarea></li>
			</ul>
			<input type="submit" value="确定" class="submit">
		</div>
		
	</div>	


	<script>
		$(function(){
			$('.top').click(function(){
				$('.first').slideUp();
				$('.second').slideDown();
			});
			$('#close1').click(function(){
				$('.second').slideUp();
				$('.first').slideDown();
			});
			$('.open_remark').click(function(){
				if($('.remark').css('display')=='none'){
					$('.remark').slideDown();
				}else{
					$('.remark').slideUp();
				}
			})
			$('.label1').click(function(){
				if($(this).children('input').prop('checked') == true){
					$(this).children('img').attr('src','images/radio_check.png');
					$('.label2').children('img').attr('src','images/radio_uncheck.png');
				}
			})
			$('.label2').click(function(){
				if($(this).children('input').prop('checked') == true){
					$(this).children('img').attr('src','images/radio_check.png');
					$('.label1').children('img').attr('src','images/radio_uncheck.png');
				}
			})

			$('#close2').click(function(){
				$('.third').slideUp();
				$('.second').slideDown();
			});

			$('.add_add').click(function(){
				$('.second').slideUp();
				$('.third').slideDown();
			});

		})
	</script>
</body>
</html>