<!DOCTYPE html>
<html>

<head>
    <title>卖蛋糕</title>
    <link href="css/basic.min.css" rel="stylesheet" />
    <link href="css/stylecake.css" rel="stylesheet" />
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="head-area">
        <div class="head-inner">
            <div class="nav-area fl-l clearfix">
                <a href="/" class="global-logo fl-l"><img src="http://www.21cake.com/themes/21cake/images/img/c_logo.png"></a>
                <ul class="head-nav fl-l clearfix">
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/index.html">首页</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/gallery-index---0---1.html">蛋糕</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/gallery-index---0---3.html">新品</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/product-6377.html">代金卡</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/article--i-18.html">品牌故事</a>
                    </li>
                    <li class="nav-item  last">
                        <a href="http://www.21cake.com/article-distribution-40.html" target="_blank">订购帮助</a>
                    </li>
                </ul>
            </div>
            <div class="login-mes fl-r" style="position: relative;">
                <a id="qqbrown" style="display:none;" href="http://q.url.cn/s/6igyY" target="_blank"></a>
                <ul class="head-nav fl-l clearfix">
                    <li id="j_header_login">
                        <a href="/passport-login.html" id="IDheaderlogin">登录</a>
                    </li>
                    <li id="j_header_signup">
                        <a href="/passport-signup.html" id="IDheadersignup">注册</a>
                    </li>
                    <li class="hide" id="j_header_logout">
                        <a href="/member.html" style="padding:0;">&nbsp;&nbsp;您好，<span id="j_header_uname"></span></a><a href="/passport-logout.html">[退出]</a>
                    </li>
                    <li id="j_header_order">
                        <a id="j_header_order_link" href="/member-orders_v2_static.html">订单</a>
                    </li>
                    <li class="last">
                        <a href="/cart.html" class="shop-car" id="j_header_cart_number">0</a>
                    </li>
                    <!--<li class="free-order">
                <a href="javascript:void(0)" class="free_tip" title="满100元,可免费享受21cake专业配送"></a>
            </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div id="container" class="page-container clearfix">
    <link href="css/member-center.css" rel="stylesheet" />
    
        <div class="inner-wrap">
            <div class="bread-crumbs">
                <span>
                <a href="/" alt="" title="">首页</a>
            </span>
                <span>&nbsp;&gt;&nbsp;</span>
                <span>
                <a href="http://www.21cake.com/member.html" alt="" title="">我的廿一客</a>
            </span>
                <span>&nbsp;&gt;&nbsp;</span>
                <span class="now">收货地址</span>
                <input type="hidden" id="isCakeList" value="收货地址">
            </div>
            <div class="member-area">
                <!-- 会员中心主内容区 -->
                <div class="page-article">
                    <!-- 我的订单 -->
                    <div id="member_address" class="member-address">
                        <div id="member_address_title" class="member-title">
                            <h2 class="address-prompt"><b>已有<i class="warn">1</i>
                    收货地址</b> <span class="small">(最多添加10个收货地址)</span></h2>
                            <div class="address-actions">
                                <button type="button" class="btn btn-simple action-add-address active">
                                    <span><span>添加收货地址<i class="icon">6</i></span></span>
                                </button>
                            </div>
                        </div>
                        <!-- 修改收货地址 -->
                        <div id="member_address_submit" class="member-address-submit address-add">
                            <form action="/member-save_rec.html" method="post" class="form-handling" id="member_address_form">
                                <input type="hidden" value="" name="addr_id">
                                <ul>
                                    <li class="form-item">
                                        <label for="" class="form-label"><em class="text-warn">*</em> 收货地区：</label>
                                        <span class="form-act"><span class="region" vtype="area" id="dom_el_9b2a000">
<input name="area" package="mainland" type="hidden" value="">
<select data-level-index="0" class="x-select"><option value="_NULL_">请选择</option><option value="1" data-level-index="0">北京</option><option value="21" data-level-index="1">上海</option><option value="423" data-level-index="2">广东</option><option value="1643" data-level-index="3">江苏</option><option value="3133" data-level-index="4">浙江</option><option value="42" data-level-index="5">天津</option></select>
<select data-level-index="1" class="x-select" style=""><option value="_NULL_">请选择</option></select>
<select data-level-index="2" class="x-select" style="display: none;"></select>
<select data-level-index="3" class="x-select" style="display: none;"></select>
</span>
                                        </span>
                                    </li>
                                    <li class="form-item">
                                        <label for="" class="form-label"><em class="text-warn">*</em>详细地址：</label>
                                        <span class="form-act">
                <span class="hide">北京市东城区五环内</span>
                                        <input type="text" name="addr" value="星系地址" id="" placeholder="详细地址" size="50" class="x-input action-fill-area" vtype="required">
                                        </span>
                                    </li>
                                    <!--        <li class="form-item">
            <label for="" class="form-label">邮编：</label>
            <span class="form-act">
                <input type="text" name="zip" value="" id="" placeholder='邮编' class="x-input">
            </span>
        </li>-->
                                    <li class="form-item">
                                        <label for="" class="form-label"><em class="text-warn">*</em>收货人姓名：</label>
                                        <span class="form-act">
                <input type="text" name="name" id="" value="张宁" placeholder="收货人姓名" class="x-input" vtype="required">
            </span>
                                    </li>
                                    <li class="form-item">
                                        <label for="" class="form-label"><em class="text-warn">*</em>手机：</label>
                                        <span class="form-act">
                <input type="text" name="mobile" value="15545996058" id="" placeholder="手机号码" class="x-input" vtype="requiredone">
                <label class="form-sub-label">或固定电话：</label>
                <span class="form-act" style="margin:0; padding:0; display:inline;">
                    <input type="text" name="tel" value="" id="" placeholder="固定号码" class="x-input" vtype="requiredone" data-caution="请填写手机号码或者固定电话">
                </span>
                                        </span>
                                    </li>
                                    <li class="form-item">
                                        <label for="" class="form-label"></label>
                                        <span class="form-act">
                <input type="checkbox" name="def_addr" value="" id="for_set_default" checked="checked">
                <label for="for_set_default">设为默认</label>
            </span>
                                    </li>
                                    <li class="form-item last">
                                        <label for="" class="form-label"></label>
                                        <span class="form-act">
                <button type="submit" class="btn btn-caution" rel="_request"><span><span>确定</span></span>
                                        </button>
                                        <button type="button" class="btn btn-simple action-reset"><span><span>取消</span></span>
                                        </button>
                                        </span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- 收货地址列表 -->
                        <div id="member_address_list" class="member-address-list">
                            <table class="member-grid">
                                <thead>
                                    <tr>
                                        <th>地址</th>
                                        <th>收货人</th>
                                        <th>联系电话</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody class="first">
                                    <tr class="highlight first ">
                                        <td class="shipping-address">北京市东城区五环内星系地址</td>
                                        <td class="shipping-name">张宁</td>
                                        <td class="shipping-contact">15545996058</td>
                                        <td class="actions">
                                            <span class="edit-text">正在编辑...</span>
                                            <span class="edit-act">
                                    <a href="/member-set_default-5662632.html" class="action-set-default">设为默认</a>
                                    <span class="label-default">默认地址</span>
                                            <a href="/member-modify_receiver-5662632.html" class="action-edit">编辑</a>
                                            <a href="/member-del_rec-5662632.html" class="action-delete">删除</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area">
        <div class="footer-inner">
            <div class="fl-l foo-mes">
                <p>订购专线：<b>400 650 2121</b>（服务时间 08:00–22:00）
                    <br> 客服电话：021-23099721（全国）&nbsp;|&nbsp;
                    <a href="mailto:kefu@21cake.com">kefu@21cake.com（邮箱）</a>
                    <a href="http://weibo.com/21cake?topnav=1&amp;wvr=5&amp;topsug=1" class="weibo"><img src="http://www.21cake.com/themes/21cake/images/img/weibo.png"></a>
                    <a target="_blank" class="weixin"><img src="http://www.21cake.com/themes/21cake/images/img/weixin.png">
                        <span class="third-enter-dia">
            <span class="third-enter-dia-inner">
              <img src="/themes/21cake/images/2wm_wx_2.jpg">
              <span>扫描21cake方形<br>微信二维码</span>
                        </span>
                        </span>
                    </a>
                    <span>
        <span id="cnzz_stat_icon_1255778095"><a href="http://www.cnzz.com/stat/website.php?web_id=1255778095" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span>
                    </span>
                    <br>
                    <b>北京/杭州/广州：提前5小时预订；上海：提前6-8小时预订；天津/苏州/无锡/深圳：提前8小时预订</b>（当日22点以后订单，于次日8点开始审核）
                    <br>
                    <b>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津/苏州/无锡/深圳：11:00</b>
                </p>
                <p class="copyright">
                    Copyright© 21Cake蛋糕官网商城 2007-2015, 版权所有 京ICP备14006254号-1 公司: 上海廿一客食品有限公司 地址: 上海市松江区新桥镇新效支路518号
                </p>
            </div>
            <div class="fl-r foo-link clearfix">
                <!--<a target="_blank" href="/tryeat.html">企业试吃</a><span class="foo-line">&nbsp;|&nbsp;</span>-->
                <a target="_blank" href="/article-about-55.html">联系我们</a><span class="foo-line">&nbsp;|&nbsp;</span>
                <a target="_blank" href="/article-distribution-40.html">订购帮助</a><span class="foo-line">&nbsp;|&nbsp;</span>
                <a target="_blank" href="/article-about-56.html">企业合作</a>
            </div>
            <div style="visibility: hidden">
            </div>
        </div>
    </div>
</body>

</html>
