<!DOCTYPE html>
<html>

<head>
    <title>卖蛋糕</title>
    <link href="css/basic.min.css" rel="stylesheet" />
    <link href="css/stylecake.css" rel="stylesheet" />
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="js/jquery-1.8.2.min.js"></script>
</head>

<body>
    <div class="head-area">
        <div class="head-inner">
            <div class="nav-area fl-l clearfix">
                <a href="/" class="global-logo fl-l"><img src="http://www.21cake.com/themes/21cake/images/img/c_logo.png"></a>
                <ul class="head-nav fl-l clearfix">
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/index.html">首页</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/gallery-index---0---1.html">蛋糕</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/gallery-index---0---3.html">新品</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/product-6377.html">代金卡</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/article--i-18.html">品牌故事</a>
                    </li>
                    <li class="nav-item  last">
                        <a href="http://www.21cake.com/article-distribution-40.html" target="_blank">订购帮助</a>
                    </li>
                </ul>
            </div>
            <div class="login-mes fl-r" style="position: relative;">
                <a id="qqbrown" style="display:none;" href="http://q.url.cn/s/6igyY" target="_blank"></a>
                <ul class="head-nav fl-l clearfix">
                    <li id="j_header_login">
                        <a href="/passport-login.html" id="IDheaderlogin">登录</a>
                    </li>
                    <li id="j_header_signup">
                        <a href="/passport-signup.html" id="IDheadersignup">注册</a>
                    </li>
                    <li class="hide" id="j_header_logout">
                        <a href="/member.html" style="padding:0;">&nbsp;&nbsp;您好，<span id="j_header_uname"></span></a><a href="/passport-logout.html">[退出]</a>
                    </li>
                    <li id="j_header_order">
                        <a id="j_header_order_link" href="/member-orders_v2_static.html">订单</a>
                    </li>
                    <li class="last">
                        <a href="/cart.html" class="shop-car" id="j_header_cart_number">0</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div id="container" class="page-container clearfix">
    <link href="css/member-center.css" rel="stylesheet" />

        <div class="inner-wrap">
            <div class="bread-crumbs">
                <span>
                <a href="/" alt="" title="">首页</a>
            </span>
                <span>&nbsp;&gt;&nbsp;</span>
                <span class="now">我的廿一客</span>
                <input type="hidden" id="isCakeList" value="我的廿一客">
            </div>
            <div class="member-area">
                <link rel="stylesheet" href="themes/21cake/images/css/member-center.css?v=726">
                <!--个人信息部分-->
                <div class="account-area clearfix">
                    <div class="edit_info">
                        <div class="avator-area">
                            <form id="uploadForm" action="/member-edit_portrait.html" enctype="multipart/form-data" target="uploadIframe" method="post">
                                <div class="avator-img">
                                    <img class="hide" id="avator_img">
                                    <input type="hidden" name="avator_member_id" value="12077851">
                                    <input type="hidden" name="vkey" id="vkeyInput" value="">
                                    <iframe src="about:blank" name="uploadIframe" id="uploadIframe" style="display:none"></iframe>
                                    <a id="edit_avator_link" href="javascript:void(0)" class="set-avator-link ">
                                        <div class="avator-bg"><img class="change_head" style="display: none"></div>
                                    </a>
                                </div>
                                <span id="upload_file_show_error"></span>
                                <input type="file" style="opacity:0;height:31px;filter:alpha(opacity=0);width:72px;position:relative;top:-35px;" name="headportrait" id="fileField">
                            </form>
                        </div>
                        <div class="account-mes">
                            <div class="ac-name">
                                <p><span class="acc-name-unset">
               姓名：未填写
               </span></p>
                            </div>
                            <p class="ac-num"><span>15504628304</span>
                                <a id="edit_security" href="/member-security.html">
              修改密码            </a>
                                <!--<a href="/member-setting.html">[更改]</a>-->
                            </p>
                            <a href="/member-setting.html">
                                <div class="ac-editinfo" id="ac-editinfo">
                                    <i class="edit_ico"></i> 编辑个人资料
                                </div>
                            </a>
                            <a href="/member-receiver.html">
                                <div class="ac-editaddress">
                                    <i class="edit_address"></i>地址管理
                                </div>
                            </a>
                        
                        </div>
                    </div>
                    <div class="cash-coupou">
                        <ul>
                            <li class="ac_item">
                                <p>
                                    <a href="/member-balance.html">
                                        <i class="ac_balance"></i> 余额: ¥0 </a>
                                    <em class="recharge new_r">卡券充值</em>
                                    <!--<a href="/member-deposit.html" class="new_r">在线充值</a>-->
                                </p>
                                <em class="corner"></em>
                            </li>
                            <li class="ac_item">
                                <p>
                                    <a href="/member-coupon.html">
                                        <i class="ac_coupon"></i> 优惠券: 0张可用
                                    </a>
                                </p>
                                <em class="corner"></em>
                            </li>
                            <li class="ac_item">
                                <p>
                                    <a href="/member-cardlist.html">
                                        <i class="ac_card"></i> 代金卡: 0 张已用
                                    </a>
                                </p>
                                <em class="corner"></em>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--会员中心部分-->
                <div class="margin-70 member-center">
                    <p class="ca-title">会员中心</p>
                    <p class="current-identity">您当前的身份是：<span class="normal-user">注册会员</span></p>
                    <div class="vip-area tl-l level-info">
                        <div class="tl-c">
                            <img class="level-info-img" src="img/new_membership.png">
                        </div>
                        <p class="fruit-rule-title">果实规则：</p>
                        <p class="fruit-rule">1、订单实际支付金额每满100元，则将自动获得1颗果实，以此类推。累积果实可升级，并享受各级会员权益。订单中使用优惠券、订单促销等优惠抵扣的金额不参与消费金额的累积。</p>
                        <p class="fruit-rule">2、每90天内未产生购买，果实减一颗，若果实减少为下一等级数量时，等级相应降低，上一级别的固定权益失效。</p>
                        <p class="fruit-rule">3、所获得的权益自获得日起，一年内有效。</p>
                        <p class="fruit-rule"><a href="http://www.21cake.com/article-huiyuantizhi-i-48.html">了解更多&gt;&gt;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area">
        <div class="footer-inner">
            <div class="fl-l foo-mes">
                <p>订购专线：<b>400 650 2121</b>（服务时间 08:00–22:00）
                    <br> 客服电话：021-23099721（全国）&nbsp;|&nbsp;
                    <a href="mailto:kefu@21cake.com">kefu@21cake.com（邮箱）</a>
                    <a href="http://weibo.com/21cake?topnav=1&amp;wvr=5&amp;topsug=1" class="weibo"><img src="http://www.21cake.com/themes/21cake/images/img/weibo.png"></a>
                    <a target="_blank" class="weixin"><img src="http://www.21cake.com/themes/21cake/images/img/weixin.png">
                        <span class="third-enter-dia">
            <span class="third-enter-dia-inner">
              <img src="/themes/21cake/images/2wm_wx_2.jpg">
              <span>扫描21cake方形<br>微信二维码</span>
                        </span>
                        </span>
                    </a>
                    <span>
        <span id="cnzz_stat_icon_1255778095"><a href="http://www.cnzz.com/stat/website.php?web_id=1255778095" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span>
                    </span>
                    <br>
                    <b>北京/杭州/广州：提前5小时预订；上海：提前6-8小时预订；天津/苏州/无锡/深圳：提前8小时预订</b>（当日22点以后订单，于次日8点开始审核）
                    <br>
                    <b>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津/苏州/无锡/深圳：11:00</b>
                </p>
                <p class="copyright">
                    Copyright© 21Cake蛋糕官网商城 2007-2015, 版权所有 京ICP备14006254号-1 公司: 上海廿一客食品有限公司 地址: 上海市松江区新桥镇新效支路518号
                </p>
            </div>
            <div class="fl-r foo-link clearfix">
                <a target="_blank" href="/article-about-55.html">联系我们</a><span class="foo-line">&nbsp;|&nbsp;</span>
                <a target="_blank" href="/article-distribution-40.html">订购帮助</a><span class="foo-line">&nbsp;|&nbsp;</span>
                <a target="_blank" href="/article-about-56.html">企业合作</a>
            </div>
            <div style="visibility: hidden">
            </div>
        </div>
    </div>
</body>

</html>
