<!DOCTYPE html>
<html>

<head>
    <title>卖蛋糕</title>
     <link href="css/basic.min.css" rel="stylesheet" />
    <link href="css/stylecake.css" rel="stylesheet" />
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="js/jquery-1.8.2.min.js"></script>

</head>

<body>
    <div class="head-area">
        <div class="head-inner">
            <div class="nav-area fl-l clearfix">
                <a href="/" class="global-logo fl-l"><img src="http://www.21cake.com/themes/21cake/images/img/c_logo.png"></a>
                <ul class="head-nav fl-l clearfix">
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/index.html">首页</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/gallery-index---0---1.html">蛋糕</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/gallery-index---0---3.html">新品</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/product-6377.html">代金卡</a>
                    </li>
                    <li class="nav-item ">
                        <a href="http://www.21cake.com/article--i-18.html">品牌故事</a>
                    </li>
                    <li class="nav-item  last">
                        <a href="http://www.21cake.com/article-distribution-40.html" target="_blank">订购帮助</a>
                    </li>
                </ul>
            </div>
            <div class="login-mes fl-r" style="position: relative;">
                <a id="qqbrown" style="display:none;" href="http://q.url.cn/s/6igyY" target="_blank"></a>
                <ul class="head-nav fl-l clearfix">
                    <li id="j_header_login">
                        <a href="/passport-login.html" id="IDheaderlogin">登录</a>
                    </li>
                    <li id="j_header_signup">
                        <a href="/passport-signup.html" id="IDheadersignup">注册</a>
                    </li>
                    <li class="hide" id="j_header_logout">
                        <a href="/member.html" style="padding:0;">&nbsp;&nbsp;您好，<span id="j_header_uname"></span></a><a href="/passport-logout.html">[退出]</a>
                    </li>
                    <li id="j_header_order">
                        <a id="j_header_order_link" href="/member-orders_v2_static.html">订单</a>
                    </li>
                    <li class="last">
                        <a href="/cart.html" class="shop-car" id="j_header_cart_number">0</a>
                    </li>
                    <!--<li class="free-order">
                <a href="javascript:void(0)" class="free_tip" title="满100元,可免费享受21cake专业配送"></a>
            </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div id="container" class="page-container clearfix">
    <div class="inner-wrap">
        <div class="bread-crumbs">
            <span>
                <a href="http://www.21cake.com" alt="" title="">首页</a>
            </span>
            <span>&nbsp;&gt;&nbsp;</span>
            <span>
                <a href="/gallery-2.html" alt="" title="">乳酪蛋糕</a>
            </span>
            <span>&nbsp;&gt;&nbsp;</span>
            <span class="now">21cake生日奶油蛋糕</span>
            <input type="hidden" id="isCakeList" value="21cake生日奶油蛋糕">
        </div>
        <div id="main" class="clearfix">
            <div class="page-maincontent">
                <div id="product_container" class="product-container clearfix">
              
                    <form action="/cart-add-goods.html" method="post" target="_dialog_minicart">
                        <input type="hidden" name="btype">
                        <input type="hidden" name="goods[goods_id]" value="297">
                        <input type="hidden" name="goods[product_id]" value="6122">
                        <input type="hidden" name="product[date]" value="后天">
                        <div class="product-side" style="width:502px;">
                            <!-- 商品相册 -->
                            <div id="product_album" class="product-album">
                                <div class="product-album-preview clearfix">
                                    <div class="product-album-pic" style="width:500px;height:500px;line-height:498px;*font-size:450px;">
                                        <a href="http://www.21cake.com/public/images/dc/67/ed/01440649a62eef7b340f8e3566d9c410.jpg?1478240958#h" class="album-preview-container" id="op_product_zoom"><img src="http://www.21cake.com/public/images/83/2d/8d/942870a3cd9522e519eac4a5afb5dff4.jpg?1478240959#h" title="21cake生日奶油蛋糕" alt="21cake生日奶油蛋糕" class="small-pic" style="max-width:500px;max-height:500px;"></a>
                                    </div>
                                    <img class="loading" app="b2c" src="http://www.21cake.com/app/b2c/statics/images/loading.gif" alt="正在加载大图..." style="display:none;">
                                    <div class="product-album-zoom"><a href="/product-albums-297.html" title="点击查看大图" target="_blank" class="icon">J</a></div>
                                    <div class="loading" style="visibility: hidden;"><img alt="loading..." src="http://www.21cake.com/app/b2c/statics/images/loading.gif"> 正在加载大图...</div>
                                </div>
                                <div class="product-album-thumb product-album-thumb-bottom">
                                    <div class="flip prev forward over"><a href="javascript:void(0);" class="icon">4</a></div>
                                    <div class="thumbnail-list" style="width:468px;">
                                        <ul class="clearfix" style="width: 790px;">
                                            <li class="">
                                                <div class="arrow arrow-top"><i class="below"></i></div>
                                                <div class="thumbnail">
                                                    <a href="http://www.21cake.com/public/images/dc/67/ed/01440649a62eef7b340f8e3566d9c410.jpg?1478240958#h" rel="op_product_zoom" rev="http://www.21cake.com/public/images/4e/a1/aa/a801d8af55dc7e36e0684b9af2e1b353.jpg?1478240958#h"><img src="http://www.21cake.com/public/images/3f/33/2d/c4a85c12fb6a9e7a9ea62b87a1856226.jpg?1478240958#h" title="21cake生日奶油蛋糕" alt="21cake生日奶油蛋糕" width="150" height="150"></a>
                                                </div>
                                            </li>
                                            <li class="active">
                                                <div class="arrow arrow-top"><i class="below"></i></div>
                                                <div class="thumbnail">
                                                    <a href="http://www.21cake.com/public/images/6e/42/4f/46098735084a42bac0f0fb66abc3de6a.jpg?1478240959#h" rel="op_product_zoom" rev="http://www.21cake.com/public/images/83/2d/8d/942870a3cd9522e519eac4a5afb5dff4.jpg?1478240959#h"><img src="http://www.21cake.com/public/images/71/ed/d5/d37023ec51a7bc965019a6d597302a7d.jpg?1478240959#h" title="21cake生日奶油蛋糕" alt="21cake生日奶油蛋糕" width="150" height="150"></a>
                                                </div>
                                            </li>
                                            <li class="">
                                                <div class="arrow arrow-top"><i class="below"></i></div>
                                                <div class="thumbnail">
                                                    <a href="http://www.21cake.com/public/images/67/d7/ec/663f478a534346396eeeeeb6b6f425c7.jpg?1478240959#h" rel="op_product_zoom" rev="http://www.21cake.com/public/images/3d/72/1c/594efe16e0bd98c2c7a5d1e97350cc15.jpg?1478240959#h"><img src="http://www.21cake.com/public/images/6b/20/6f/4c9e6e7d7b680ae71e2a3a4044721fc7.jpg?1478240959#h" title="21cake生日奶油蛋糕" alt="21cake生日奶油蛋糕" width="150" height="150"></a>
                                                </div>
                                            </li>
                                            <li class="">
                                                <div class="arrow arrow-top"><i class="below"></i></div>
                                                <div class="thumbnail">
                                                    <a href="http://www.21cake.com/public/images/4c/17/7b/cdb10713993dc84b6c34f6c262bc10a7.jpg?1478240959#h" rel="op_product_zoom" rev="http://www.21cake.com/public/images/7d/6a/73/b9613e379182c6ed9b7b560c12ec82a2.jpg?1478240959#h"><img src="http://www.21cake.com/public/images/53/4e/e9/b03b140da84bd696cd2d8a6a2c6aeb34.jpg?1478240959#h" title="21cake生日奶油蛋糕" alt="21cake生日奶油蛋糕" width="150" height="150"></a>
                                                </div>
                                            </li>
                                            <li class="">
                                                <div class="arrow arrow-top"><i class="below"></i></div>
                                                <div class="thumbnail">
                                                    <a href="http://www.21cake.com/public/images/3e/10/45/f98d83f9344a226e4d3c048a43af110f.jpg?1478240960#h" rel="op_product_zoom" rev="http://www.21cake.com/public/images/b9/98/13/e1221a38d973a8bcc2360add057ff886.jpg?1478240960#h"><img src="http://www.21cake.com/public/images/1a/56/91/b86fabd82c4bc433d1fad11f23df406f.jpg?1478240960#h" title="21cake生日奶油蛋糕" alt="21cake生日奶油蛋糕" width="150" height="150"></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flip next backward over"><a href="javascript:void(0);" class="icon">5</a></div>
                                </div>
                            </div>
                            <script>
                              $('.thumbnail-list li').hover(function(){
                                $('.thumbnail-list li').removeClass('active');
                                $(this).addClass('active');
                                $(".product-album-pic img").attr('src',$(this).find('img').attr('src'));
                              },function(){

                              });
                              

                            </script>
                            <!-- 分享推荐 -->
                        </div>
                        <div class="product-main clearfix" style="margin-left:829px;">
                            <!-- 商品基本信息 -->
                            <div class="product-titles">
                                <h2>21cake生日奶油蛋糕</h2>
                            </div>
                            <div id="product_information" class="product-information">
                                <!--商品价格 and 商品评分-->
                                <div class="product-concerns">
                                    <ul>
                                        <li class="item">
                                            <span class="label">价格：</span>
                                            <span class="detail">
            <span class="smallrmb20 colorf75e53">¥</span><b class="price"><ins class="action-price">498.0</ins></b>
                                            <span class="each-pound">￥<em class="action-each_pound">996.0</em><span class="small-each-pound">/磅</span></span>
                                            </span>
                                        </li>
                                        <li class="item" style=" display:none;">
                                            <span class="label">会员价：</span>
                                            <span class="detail">
          <i class="minor">最低<span class="action-minprice">0.0</span>起</i>
                                            <span class="more pop-wrapper">
            <a href="javascript:void(0);" class="action-handle"><span>更多会员价</span><i class="icon">6</i></a>
                                            <div class="pop-body action-memberprice" style="display:none;">
                                                <ul>
                                                    <li>注册会员：￥498.0</li>
                                                    <li>初客会员：￥498.0</li>
                                                    <li>中客会员：￥498.0</li>
                                                    <li>高客会员：￥498.0</li>
                                                    <li>尊客会员：￥498.0</li>
                                                    <li>免费账户（市场活动专用）：￥0.0</li>
                                                    <li>预收款企业用户：￥498.0</li>
                                                </ul>
                                            </div>
                                            </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 赠品和促销 -->
                                <!-- 扩展属性 -->
                                <div class="product-params">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="label">
                                                    <div class="text-nowrap">货品编号：</div>
                                                </td>
                                                <td width="45%"></td>
                                                <td class="label">品牌：</td>
                                                <td width="45%"><a href="/brand-1.html">21Cake</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 购买区 -->
                                <div class="product-buy">
                                    <!-- 商品规格 -->
                                    <div id="product_spec" class="product-spec">
                                        <input type="hidden" value="all" name="join10_tag">
                                        <ul class="spec-area">
                                            <li class="spec-item">
                                                <span class="item-label"><i>磅数</i>：</span>
                                                <span class="item-content">
                    <ul class="clearfix">
                                                        <li class="spec-attr selected">
                                                                            <a href="/product-6122.html" rel="">
                                                                            <span>0.5磅</span>
                                                <i></i>
                                                </a>
                                            </li>
                                            <!-- 代金卡 type_id = 99 goods_id 276-->
                                            <!---->
                                            <!-- 月饼 type_id = 3 goods_id 277-->
                                            <!---->
                                        </ul>
                                        </span>
                                        </li>
                                        </ul>
                                    </div>
                                    <p class="other-pound-explain"><em>更多磅数的蛋糕，请与客服人员联系。</em>
                                        <br>订购电话：400 650 2121</p>
                                    <!-- 商品规格说明区 -->
                                    <ul class="spec-area">
                                        <li class="spec-item">
                                            <ul class="clearfix">
                                                <li class="spec-attr_explain">
                                                    <div class="out-align">
                                                        <div class="align-center">
                                                            <div class="size">
                                                            </div>
                                                            <div class="align-txt">0.5磅</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="spec-attr_explain">
                                                    <div class="out-align">
                                                        <div class="align-center">
                                                            <div class="persons">
                                                            </div>
                                                            <div class="align-txt">1-2人</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="spec-attr_explain">
                                                    <div class="out-align">
                                                        <div class="align-center">
                                                            <div class="plates">
                                                            </div>
                                                            <div class="align-txt-1">赠1把钢勺</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="spec-attr_explain">
                                                    <div class="out-align">
                                                        <div class="align-center">
                                                            <div class="timers">
                                                            </div>
                                                            <div class="align-txt-2">需提前48小时预订</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="product-action" style="overflow: hidden;">
                                        <ul style="overflow: hidden;">
                                            <!--商品库存-->
                                            <li class="product-buy-quantity ssss">
                                                <label class="item-label" for="for_quantity_input">数量：</label>
                                                <span class="item-content"><span class="p-quantity"><a href="javascript:void(0);" class="btn-decrease">-</a><input type="text" name="goods[num]" class="action-quantity-input" value="1" min="1" max="99"><a href="javascript:void(0);" class="btn-increase">+</a></span><span class="p-store hide"></span>
                                                <input type="hidden" name="stock" value="10015"><a href="#" class="timeToolTipDetail" title="查看配送时间">查看配送时间</a></span>
                                            </li>
                                            <!--购买按钮-->
                                            <li class="product-buy-action">
                                                <button type="submit" onclick="" class="btn btn-import btn-huge action-buynow" rel="_request" id="IDproductbuynow"><span><span>立即购买</span></span>
                                                </button>
                                                <button type="submit" onclick="" class="btn btn-major btn-huge action-addtocart" rel="_request" id="IDproductaddtocart"><span><span>加入购物车</span></span>
                                                </button>
                                                <button type="button" class="btn btn-caution btn-huge action-notify hide"><span><span>到货通知</span></span>
                                                </button>
                                                <a href="/passport-login.html" class="btn btn-addfav"><i class="icon">F</i>收藏</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-culture">
                                <p>/极少种类的食材，更少糖/
                                    <br> /几乎一切围绕如何呈现牛乳的原味/
                                    <br> /轻乳酪坯，质地柔软湿润/
                                    <br> /从儿童到老人都适合吃/
                                    <br> /21cake生日奶油蛋糕，为新生和新生之日/
                                    <br>
                                    <br> *每日提供符合21cake标准，不同品种的鲜花花束。
                                </p>
                            </div>
                        </div>
                    </form>
                    <div id="product_notify" class="product-notify" style="display:none;">
                        <p class="desc">该货品暂时缺货，请在下面输入您的邮箱地址或手机号码，当我们有现货供应时，我们会发送邮件通知您！</p>
                        <form class="form" method="post" action="/product-toNotify.html">
                            <input type="hidden" name="item[0][goods_id]" value="297">
                            <input type="hidden" name="item[0][product_id]" value="6122">
                            <ul>
                                <li class="form-item">
                                    <label for="" class="form-label">邮箱地址：</label>
                                    <span class="form-act">
          <input class="x-input" type="text" name="email" id="dom_el_b663030" size="30" vtype="required&amp;&amp;email">        </span>
                                </li>
                                <li class="form-item">
                                    <label for="" class="form-label">手机号码：</label>
                                    <span class="form-act">
          <input class="x-input" type="text" name="cellphone" id="dom_el_b663031" size="30" vtype="required">        </span>
                                </li>
                                <li class="form-item form-item-last">
                                    <label for="" class="form-label"></label>
                                    <span class="form-act">
          <button type="submit" class="btn btn-caution" rel="_request"><span><span>提交</span></span>
                                    </button>
                                    </span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <!-- 配件套餐 -->
                <div id="product_section">
                    <h2 class="tags-hd active"><a href="#detail">商品详情</a><span class="develop-1"></span></h2>
                    <!-- 商品详情 Start -->
                    <div id="product_detail" class="product-section product-detail">
                        <div class="product-attributes">
                            <ul class="clearfix">
                                <li>品牌： 21Cake
                                    <!--<a href="/brand-1.html">21Cake</a>-->
                                    <p>适合人群：各类人群</p>
                                    <p>保鲜条件：0－4℃保藏12小时，5℃食用为佳</p>
                                </li>
                                <li>
                                    所属分类：乳酪蛋糕
                                    <p>适合节日：生日</p>
                                </li>
                                <li>
                                    <p>蛋糕分类：乳酪蛋糕</p>
                                    <p>甜度：★★★☆☆</p>
                                </li>
                            </ul>
                        </div>
                        <div class="detail-content">
                            <div style="background:white;">
                                <img style="display:block;" src="http://www.21cake.com/public/images/72/47/1e/eeb6a2a119dbb3e8af9759c87137acff.jpg?1476957483#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/5f/98/00/ed92f7034be53dea93a13d7d1a19c092.png?1476957500#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/f1/3c/a4/4a5b214e56baff396f2c2dc2324afbd1.jpg?1476964565#h">
                                <img style="display:block;" src="http://www.21cake.com/public/images/dd/62/7d/d9a0db6276024c97abfc160b8e2b4e89.jpg?1476957529#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/30/b2/b3/b03a0d2961bf56b23f3c8e728b75bc9b.png?1476957538#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/4f/12/9d/3a5097fcff9dd31f111e9ea087d23317.jpg?1476957547#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/50/79/b0/352d6df5f20a387fde3744e0fd24e46c.png?1476957557#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/db/78/5d/dd80af180c88a81d5098d4ee2be18e75.jpg?1476957565#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/2d/16/62/eaacdc797d1b22d64f69bf326ddefa67.png?1476957573#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/23/24/b2/2ce484df8dca52255ec82a38dde4376a.jpg?1476957581#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/cb/d2/a9/dc0904e5fe10f25821f18d6329e3c877.png?1476957589#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/11/4b/44/e98e2b69622a51e9e19a101b00f5e8fc.jpg?1476957597#w">
                                <img style="display:block;" src="http://www.21cake.com/public/images/5c/2d/26/580a9f6e353c39dc0e139dc0f06a535a.png?1476957605#w">
                                <br>
                                <br>
                                <br>
                                <br> </div>
                        </div>
                    </div>
                    <!-- 商品详情 End -->
                    <div id="product_related" class="product-related" data-widget-type="Switchable" data-sync-type="product_related">
                    </div>
                </div>
            </div>
        </div>
        <!--查看时间弹窗-->
        <div id="time_query_dialog" class="popup-container time_query_dialog" style="left: 997px; top: 347px; display: none;">
            <div class="popup-body">
                <div class="popup-header clearfix">
                    <h2 class="title">21cake生日奶油蛋糕</h2>
                </div>
                <div class="popup-content clearfix">
                    <div class="product-time-explain">
                        <p class="early-time">现在订购最早&nbsp;<em>后天&nbsp;21:00</em>&nbsp;配送</p>
                        <p class="last-time">每日最晚配送时间22:00</p>
                    </div>
                    <span class="icoimg"></span>
                </div>
            </div>
        </div>
        <div class="pro-visited">
            <div class="common-mod sales-charts">
                <div class="hd">
                    <h2 class="title">本月销售榜</h2></div>
                <div class="bd">
                    <ul class="goods-list clearfix">
                        <li class="goods-item clearfix">
                            <span class="num-1"></span>
                            <div class="goods-pic">
                                <a href="/product-365.html"><img alt="Bailey's Love Triangle  百利甜情人" data-img-zoom="true" src="http://www.21cake.com/public/images/8f/4c/9f/c082a3092e63944b7493f0bf5aca9d3f.jpg?1478485020#h"></a>
                            </div>
                            <div class="goods-info">
                                <h3 class="goods-name"><a href="/product-365.html">Bailey's Love Triangle  百利甜情人</a></h3>
                                <div class="goods-price"><i>￥198.0</i></div>
                            </div>
                        </li>
                        <li class="goods-item clearfix">
                            <span class="num-2"></span>
                            <div class="goods-pic">
                                <a href="/product-2161.html"><img alt="Rum Cheese Cake 朗姆芝士" data-img-zoom="true" src="http://www.21cake.com/public/images/87/50/be/c210379e64ed9bf872c185ec4108c1bc.jpg?1478241128#h"></a>
                            </div>
                            <div class="goods-info">
                                <h3 class="goods-name"><a href="/product-2161.html">Rum Cheese Cake 朗姆芝士</a></h3>
                                <div class="goods-price"><i>￥198.0</i></div>
                            </div>
                        </li>
                        <li class="goods-item clearfix">
                            <span class="num-3"></span>
                            <div class="goods-pic">
                                <a href="/product-525.html"><img alt="Black and White Chocolate Mousse 黑白巧克力慕斯" data-img-zoom="true" src="http://www.21cake.com/public/images/05/b9/e5/8622fa8a04125dcf21c6a5a82104a61e.jpg?1478241106#h"></a>
                            </div>
                            <div class="goods-info">
                                <h3 class="goods-name"><a href="/product-525.html">Black and White Chocolate Mousse 黑白巧克力慕斯</a></h3>
                                <div class="goods-price"><i>￥198.0</i></div>
                            </div>
                        </li>
                        <li class="goods-item clearfix">
                            <span class="num-4"></span>
                            <div class="goods-pic">
                                <a href="/product-639.html"><img alt="Mango Jerry 芒果慕斯" data-img-zoom="true" src="http://www.21cake.com/public/images/1b/38/3d/4484f926613f51eb1c02bd292ebc716e.jpg?1478241702#h"></a>
                            </div>
                            <div class="goods-info">
                                <h3 class="goods-name"><a href="/product-639.html">Mango Jerry 芒果慕斯</a></h3>
                                <div class="goods-price"><i>￥198.0</i></div>
                            </div>
                        </li>
                        <li class="goods-item clearfix last">
                            <span class="num-5"></span>
                            <div class="goods-pic">
                                <a href="/product-3640.html"><img alt="Matcha &amp; Chestnut Mousse 抹茶和栗" data-img-zoom="true" src="http://www.21cake.com/public/images/d1/bf/c4/45cf09fecd8f276cac3315f7d865bbd8.jpg?1478241657#h"></a>
                            </div>
                            <div class="goods-info">
                                <h3 class="goods-name"><a href="/product-3640.html">Matcha &amp; Chestnut Mousse 抹茶和栗</a></h3>
                                <div class="goods-price"><i>￥198.0</i></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="footer-area">
        <div class="footer-inner">
            <div class="fl-l foo-mes">
                <p>订购专线：<b>400 650 2121</b>（服务时间 08:00–22:00）
                    <br> 客服电话：021-23099721（全国）&nbsp;|&nbsp;
                    <a href="mailto:kefu@21cake.com">kefu@21cake.com（邮箱）</a>
                    <a href="http://weibo.com/21cake?topnav=1&amp;wvr=5&amp;topsug=1" class="weibo"><img src="http://www.21cake.com/themes/21cake/images/img/weibo.png"></a>
                    <a target="_blank" class="weixin"><img src="http://www.21cake.com/themes/21cake/images/img/weixin.png">
                        <span class="third-enter-dia">
            <span class="third-enter-dia-inner">
              <img src="/themes/21cake/images/2wm_wx_2.jpg">
              <span>扫描21cake方形<br>微信二维码</span>
                        </span>
                        </span>
                    </a>
                    <span>
        <span id="cnzz_stat_icon_1255778095"><a href="http://www.cnzz.com/stat/website.php?web_id=1255778095" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span>
                    </span>
                    <br>
                    <b>北京/杭州/广州：提前5小时预订；上海：提前6-8小时预订；天津/苏州/无锡/深圳：提前8小时预订</b>（当日22点以后订单，于次日8点开始审核）
                    <br>
                    <b>当日蛋糕配送截止下单时间：北京：16:50；上海：16:30；杭州/广州：13:50；天津/苏州/无锡/深圳：11:00</b>
                </p>
                <p class="copyright">
                    Copyright© 21Cake蛋糕官网商城 2007-2015, 版权所有 京ICP备14006254号-1 公司: 上海廿一客食品有限公司 地址: 上海市松江区新桥镇新效支路518号
                </p>
            </div>
            <div class="fl-r foo-link clearfix">
                <!--<a target="_blank" href="/tryeat.html">企业试吃</a><span class="foo-line">&nbsp;|&nbsp;</span>-->
                <a target="_blank" href="/article-about-55.html">联系我们</a><span class="foo-line">&nbsp;|&nbsp;</span>
                <a target="_blank" href="/article-distribution-40.html">订购帮助</a><span class="foo-line">&nbsp;|&nbsp;</span>
                <a target="_blank" href="/article-about-56.html">企业合作</a>
            </div>
            <div style="visibility: hidden">
            </div>
        </div>
    </div>
</body>

</html>

